In [ ]:
a = 10
if a == 11:
    print("this is my first condition")

In [ ]:
a = 10
if a > 5:
    pass

In [ ]:
a = 10
if a < 8:
    print("print this if condition is true")

In [ ]:
a = 10
if a == 11:
    print("my condition is false")
else:
    print("print this")

print this

In [ ]:
a = 10
if a == 12:
    print("here we trying to compare 10 with 120")
elif a == 10:
    print("we are trying to compare 10 with 11")
else:
    print("if all the blocks will fail then do this")

we are trying to compare 10 with 11

In [ ]:
price = 500
if price > 500:
    print("may be i wont able to buy a jacket")
elif price < 500:
    print("i will be able to buy a jacket")
elif price == 500:
    print("for sure i will be able to buy a jacket")
else:
    print("i dont know")

for sure i will be able to buy a jacket

In [ ]:
price  > 500

False

In [ ]:
price < 500

False

In [ ]:
price == 500

True

In [ ]:
l = [1,2,3,4,5,6]
2 in l

True

In [ ]:
if 60 in l:
    print("try to perform a task")
else:
    print("do not perform a task")

do not perform a task

In [ ]:
60 in l

False

In [ ]:
l

[1, 2, 3, 4, 5, 6]

In [ ]:
if 10 in l:
    print("try to do a addition")
elif 2 in l:
    print("try to do sub")
    if 4 in l:
        print("this is new statement")

try to do sub
this is new statement

In [ ]:
b = 450

In [ ]:
type(b)

int

In [ ]:
price = int(input("Enter the price: "))
if price < 500:
    print("i will be able to buy something")
    if price < 400:
        print("i will be able to buy a jacket")
    elif price < 300:
        print("i will be able to buy a shirt")
        if price < 200:
            print("i would like to do something")
    else:
        print("i wont be able to buy a shirt")
else:
    print("i wont be able to buy anything with the price tag")
    if price > 500:
        print("lets try something else")

Enter the price: 450
i will be able to buy something
i wont be able to buy a shirt

In [ ]:
marks = int(input("Enter the marks: "))
if marks < 600:
    print("NO GRE")
    if marks < 500 :
        print("TOFEL")
        if marks < 400 :
            print("try something else")
        else:
            print("YOU GOT TOFEL")
else:
        print("you got GRE congratulation")

Enter the marks: 500
NO GRE

In [ ]:
val = float(input("enter a foat number:"))
if val >= 0:
  if val == 0:
    print("entered value is zero")
  else:
      print("entered value is a positive number")
else:
  print("entered number is negative number")

enter a foat number:45.67
entered value is a positive number

In [ ]:
a,b,c,d= 10,11,12,13
#### Question 01 ####
if a == 10 or b==11 and c==12 and d==13:
    print("lets do something 1")
if (a == 10 and b==11) or (c==12 and d==13):
    print("lets do something 2")
if a==10 and b==11 and c==12 and d==13 or a==9:
    print("lets do something 3")
if a==10 and b==11 or c==12 and d==13:
    print("lets do something 4")
###### Question 2 ######
#What is the difference between
print(type(a) == int)
print(type(a) is int)

lets do something 1
lets do something 2
lets do something 3
lets do something 4
True
True

In [ ]:
a = 10
if a < 10 and a == 10:
  print("try to do something")

In [ ]:
a = "python"
if a == "python" or a == "python":
  print("this is Farid")

this is Farid

In [ ]:
a = 10
b = 11
c = 12
d = 13
if a == 9 or b == 11 and c == 12 and d == 13:
  print("lets do something")

lets do something

In [ ]:
d = {"key1":"value","key2":"Farid","key3":"neuron"}

In [ ]:
if d['key1'] == "value" and d['key2'] == "Farid" and d['key3'] == "neuron":
  print("all the values are verified")
  print(d.values())

all the values are verified
dict_values(['value', 'Farid', 'neuron'])

In [ ]:
l = [1,2,3,4,5,6,'hello',234.45]

In [ ]:
for i in l:
  if type(i)==int or type(i)==float:
    print(i+1)
  elif type(i)==str:
    print(i+str(1))

2
3
4
5
6
7
hello1
235.45

In [ ]:
a = [9,8,7,6,5,4,2,1,0]
for i in a:
  print(i,end=" ")

9 8 7 6 5 4 2 1 0

In [ ]:
l1 = []
for i in l:
  if type(i)==int:
    l1.append(i)